const std = @import("std");
const zigui = @import("zigui");

pub fn build(b: *std.Build) void {
    const optimize = b.standardOptimizeOption(.{});

    zigui.androidApk(b, .{
        .name = "{{ident}}",
        .source = b.path("src/main.zig"),
        .manifest = b.path("android/AndroidManifest.xml"),
        .package_name = "{{package}}",
        .optimize = optimize,
        .out_name = "{{ident}}.apk",
    });
}
