.{
    .name = .{{ident}},
    .version = "0.1.0",
    .fingerprint = {{fingerprint}},
    .minimum_zig_version = "0.16.0",
    .dependencies = {{deps}},
    .paths = .{
        "build.zig",
        "build.zig.zon",
        "src",{{platform_paths}}
    },
}
